@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro&display=swap);

/* new bg 2E4057 */
/* newaccent F2E5D7 */
/* white F6F8FF */

body {
    background-color: #2e4057;
    color: #f6f8ff;
    margin: 60px auto;
    width: 70%;
    font-family: 'Source Code Pro', monospace;
}

.p-mono {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
}

.white {
    color: #f2e5d7;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
}

nav ul {
    font-weight: bold;
    font-size: 1.6em;
}


nav ul li, footer ul li {
    font-family: 'Source Code Pro', monospace;
    display: inline;
    margin-right: 20px;
}

a {
  text-decoration: none;
  color: #f6f8ff;
}

a:hover {
  text-decoration: underline;
  color: #F2E5D7;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4.2em;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8em;
    color: #f6f8ff;
}
footer {
    border-top: 1px solid #f6f8ff;
    font-size: 1.2em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
