@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

:root {
    --bg: #e2dfda;
    --accent: #407076;  
    --text: #1E212B;
    --font: 'Alegreya';
    --mono-font: 'Source Code Pro';
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin: 80px 120px 80px 120px;
    width: 65%;
    font-family: var(--font);
}

a.hero-links {
    text-decoration: none !important;
}

.hero-text {
    font-family: var(--font);
    font-size: 3.5rem;
}

.p-mono {
    font-family: var(--font);
    font-size: 1.2em;
}

.p-mono-gpg {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.72em;
    width: 64ch;
}

.gpg-container {
	font-family: 'Source Code Pro', monospace;
}

nav ul {
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0px;
    list-style: none;
} 

footer ul {
    font-family: 'Source Code Pro', monospace;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
  color: var(--text);
  text-decoration: underline;
}

a:hover {
  color: var(--accent);
}

nav a {
    color: var(--text);
    text-decoration: none !important;
}

footer a {
    color: var(--text);
    text-decoration: none !important;
}


h1, h2, h3, h4 {
    font-family: var(--font), sans-serif;
}

p {
    font-family: var(--font), sans-serif;
    font-size: 1.5em;
    color: var(--text);
}

footer {
    border-top: 1px solid var(--text);
    font-size: 1.2em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.post {
    font-size: 1.2rem;
	width: 80%;
}

/* PHONE SCREEN CHANGES */
@media only screen and (max-width: 600px) {

    body {
        font-size: 120%;
        background-color: var(--bg);
        color: var(--text);
        margin: auto;
        width: 90%;
        font-family: var(--font);
    }
}