@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* LIGHT MODE THEMEING */ 

:root {
    --bg: #f3f2f1;
    --accent: #577e83;  
    --text: #1E212B;
    --font: 'Alegreya';
    --mono-font: 'Source Code Pro';
} 

/* :root {
    --bg: #16181f;
    --accent: #5e878d;  
    --text: #e2dfda;
    --font: 'Alegreya';
    --mono-font: 'Source Code Pro';
} */

html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--bg);
    color: var(--text);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 22%;
    margin-left: 22%;
    font-family: var(--font);
}

h1, h2, h3, h4 {
    font-family: var(--font), sans-serif;
}

p {
    font-family: var(--font), sans-serif;
    font-size: 1.1rem;
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: underline;
}
  
a:hover {
    color: var(--accent);
}

blockquote {
    font-style: italic !important;
}

a.hero-link {
    background:
       linear-gradient(
         to bottom, var(--accent) 0%,
         var(--accent) 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: var(--text);
    text-decoration: none !important;
    transition: background-size .2s;
  }
  
a.hero-link:hover {
  background-size: 4px 50px;
  color: var(--text) !important;
}

.hero-text {
    font-family: var(--font);
    font-size: 3.5rem;
}

.p-mono-gpg {
    font-family: var(--mono-font), monospace;
    font-size: 0.72em;
    width: 64ch;
}

.gpg-container {
	font-family: var(--mono-font), monospace;
}

nav ul {
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0px;
    list-style: none;
} 

footer ul {
    font-family: var(--mono-font), monospace;
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: var(--text);
    text-decoration: none !important;
}

footer a {
    color: var(--text);
    text-decoration: none !important;
}

footer {
    border-top: 1px solid var(--text);
    font-size: 1.2em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.post-date {
    font-family: var(--mono-font) !important;
}

/* PHONE SCREEN CHANGES */
@media only screen and (max-width: 700px) {

    html {
        margin: 0px;
        padding: 0px;
    }

    body {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 9%;
        margin-left: 9%;
        background-color: var(--bg) !important;
        color: var(--text) !important;
        font-family: var(--font) !important;
    }   

    .hero-text {
        font-family: var(--font);
        font-size: 2.5rem;
    }

    .footer-li {
        font-size: 0.8em;
    }

    .post-ul {
        width: 280px;
    }

    .post-li {
        font-size: 0.75em;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
}