<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
	        		<li><a href="/about">About</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
					<li><a href="https://codyilardo.com/blog/atom.xml">rss</a></li>
					<li><a href="https://codyilardo.com/gpg.html">gpg</a></li>
	        		<li><a href="https://github.com/codyilardo">github</a></li>
					<li><a href="https://www.redbubble.com/people/ilardocallig/shop">redbubble</a></li>
					<li><a href="https://www.esv.org/John+1/">#jesusislord</a></li>

				</ul>
			</footer>
		</body>
	</html>
