<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/resume">Resume</a></li>
							<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:codyilardo@gmail.com">email</a></li>
	        		<li><a href="https://github.com/codyilardo">github</a></li>
							<li><a href="https://codyilardo.com/blog/atom.xml">rss</a></li>
							<li><a href="https://www.redbubble.com/people/ilardocallig/shop">redbubble</a></li>
							<li><a class="white" href="https://www.esv.org/John+1/">#jesusislord</a></li>

				</ul>
			</footer>
		</body>
	</html>
